* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #cf740d;
}
/* MAIN STYLE START */
.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
}
/* MAIN STYLE START */

/* HEADER STYLE START */
header {
    background-color: #603503;
    grid-column: 1/11;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100vw;
    color: var(--fontColor);
    box-shadow: 2px 2px 2px black;
    z-index: 111111111;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

header h1 a {
    text-decoration: none;
    color: var(--fontColor);
}

header nav a {
    text-decoration: none;
    color: var(--fontColor);
    font-weight: bold;
    font-size: 1.2vw;
}
/* HEADER STYLE END */

@media (max-width:450px) {
    header nav a {
        font-size: 3vw;
    }
    header h1 a {
    font-size: 5vw;
    }
    .count-1-title {
        height: 600px;
    }
    .count-1-title .count-1-img-p p {
        font-size: 2.5vw !important;
    }
    .count-1-title .count-1-img-p h2 {
        font-size: 3vw !important;
    }
    .count-1-title .count-1-img-p img {
        border-radius: 30px !important;
    }
}




